section:nth-of-type(1) {
    background: url('../Assets/Section1BG.png') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 120px;
}

section:nth-of-type(1) strong {
    font-size: 90px;
    z-index: 999999999999;
    color: #F7EA3D;
    text-align: center;
    text-shadow: 0 0 40px #f7eb3dda;

}

section:nth-of-type(1) h1 {
    font-size: 90px;
    z-index: 999999999999;
    color: #29F2F2;
    text-align: center;
    text-shadow: 0 0 40px #29F2F2;

}

section:nth-of-type(1) img {
    position: absolute;
    top: 0;
    right: 0;
    width: 650px;

}

section:nth-of-type(2) {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 80px;
    position: relative;
    background: url('../Assets/Section2BG.png') no-repeat;
    background-size: cover;
    background-position: center;
}

section:nth-of-type(2) img {
    top: -50%;
    left: 0;
    position: absolute;
    height: auto;
}

section:nth-of-type(2) h1 {
    position: absolute;
    top: 30px;
    left: 70px;
    z-index: 10;
}


section:nth-of-type(3) {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: relative;
    text-align: center;
}

section:nth-of-type(3) p {
    position: absolute;
    color: white;
    font-size: 160px;
    font-weight: 900;
    line-height: 170px;
    font-style: italic;
}

section:nth-of-type(4) {
    display: flex;
    flex-direction: row;
    background-color: black;
}

section:nth-of-type(4) h3,
h5 {
    color: white;
}

.coluna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    width: 50%;
    height: auto;
}

.line_glow {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 10px rgba(0, 255, 255, 0.5)) drop-shadow(0 0 20px rgba(0, 255, 255, 0.5)) drop-shadow(0 0 30px rgba(0, 255, 255, 0.5)) drop-shadow(0 0 40px rgba(0, 255, 255, 0.5));



}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    max-width: 520px;
}

.imagens-section3 {
    width: 120px;
    height: 120px;
}